
<h2> Welcome to Your Cellar, <%= @current_user.name%>! </h2>

<%= link_to '< Edit Details >', edit_user_path(@current_user.id) %>
<br>

        
<br>


<div class="cellarpage">

    
    <br><br>
    <!--Loop through users favourite wines-->
    <div class="favouritewines">
        <h3>Your Favourite Wines:</h3>
        <ul>
            <% @current_user.favourite_wines.each do |favourites| %>
                <li>
                <%= link_to favourites.name, wine_path(favourites.id) %>
                </li>
            <% end %> 
        </ul>
    </div>

    <div id="userwinelist">
        <h3 class="yourwines">Your Added Wines:</h3>
            <ul class="wineslist">

                <% @current_user.wines.each do |wine| %>
                <li>
                <%= link_to wine.name, wine_path(wine.id) %>
                </li>
                <% end %>

            </ul>
    </div>


    <div id="userreviews">
    <h3 class="yourreviews">Your Reviews:</h3>
            <ul class="reviewslist">

                <% @current_user.reviews.each do |review| %>
                <li>
                <%= link_to review.wine.name, wine_path(review.wine.id) %>
                <p><%= review.description.truncate_words(30) %></p>
                </li>
                <% end %>

            </ul>
    </div>

</div>