
<h2><em><%= @region.name %></em>, <%= @region.country %></h2>

<a href="">--> Explore this Region <--</a> <!--for youtube link??-->
<br>
<% if @current_user.present? %>
    <p><%= link_to 'Back to Regions', regions_path(@current_user.id), class: 'backtoregions' %></p>
<% end %>
<%= cl_image_tag(@region.image, class: 'region') %>
<br><br>

<%= link_to 'Edit', edit_region_path(@region.id) %>
||
<%= link_to 'Delete', region_path(@region.id), method: 'delete', :data => { :confirm => 'Are you sure you want to delete?' } %>
<br>
