
<h2>
    <%= @wine.name  %>
    
</h2>


<%# <%= link_to 'See Some Reviews', reviews_path %> 

<%= link_to '--> Review this Wine <--', new_review_path %>

    
<br>

<p>
    <strong>Name: </strong>
    <em><%= @wine.name %></em> 
</p>

<p>
    <strong>Style: </strong>
    <em><%= @wine.style %></em> 
</p>

<p>
    <strong>Vintage:</strong>
    <em><%= @wine.vintage %></em> 
</p>

<p>
    <strong>Region :</strong>
    <%= link_to @wine.region.name, region_path(@wine.region.id) %>
    
</p>  
<br>

<%= image_tag @wine.image, class: 'wine' %>
<br><br><br>
<%= link_to 'Edit Wine', edit_wine_path(@wine.id) %>
||
<%= link_to 'Delete Wine', wine_path(@wine.id), method: 'delete' %>
<br><br>

<!--loop through reviews for specific wine-->
<ul>
    <% @reviews.each do |review| %>
        <li>

            <p><strong>Rating:</strong> <%= @reviews.score, review_path(review.id) %></p>
        
            <p><strong>Review: </strong><%= @reviews.description, review_path(review.id) %></p>

        </li>
    <% end %>
</ul>

