
<h2>
    <%= @wine.name  %>
</h2>

<%=  %>

<%# <%= link_to 'See Some Reviews', reviews_path %> 

<p>
    <strong>Name: </strong>
    <em><%= @wine.name %></em> 
</p>

<p>
    <strong>Style: </strong>
    <em><%= @wine.style %></em> 
</p>

<p>
    <strong>Vintage:</strong>
    <em><%= @wine.vintage %></em> 
</p>

<p>
    <strong>Region :</strong>
    <% if @wine.region.present? %>
    <%= link_to @wine.region.name, region_path(@wine.region.id) %>
    <% end %>
    
</p> 
<p><em><%= link_to 'Back to Wine List', wines_path(@current_user.id), class: 'backtowinelist' %> || <%= link_to 'Back to Cellar',user_path(@current_user.id), class: 'backtocellar' %></p></em></p> 
<br>

<%= cl_image_tag(@wine.image, class: 'wine') %>
<br><br>



<% if @current_user.id == @wine.user_id %>
    <%= link_to 'Edit Wine', edit_wine_path(@wine.id) %>
    ||
    <%= link_to 'Delete Wine', wine_path(@wine.id), method: 'delete', :data => { :confirm => 'Are you sure you want to delete?' } %>
<% end %>
<br><br>


<ul id="reviewlist">
    <% @wine.reviews.each do |review| %>
        <li>

            <p><strong>Rating:</strong> <%= review.score%></p>
        
            <p><strong>Review: </strong>"<em><%= review.description%></em>"</p>

            <p><strong>User: </strong><em><%= review.user.name%></em></p>

            <% if @current_user.id == review.user_id %>
            <%= link_to 'Edit', edit_review_path(review.id) %>
            ||
            <%= link_to 'Delete', review_path(review.id), method: 'delete', :data => { :confirm => 'Are you sure you want to delete?' } %>

            <% end %>

        </li>
        
        

    <% end %>
</ul>

<br>
<div class="reviewform"> 
    <h3>Review this Wine</h3>         
    <%= form_with model: @review, local: true do |f| %>


        <%= f.label :score %>
        <br>
        <%= f.number_field :score, in: 1..100 %>
        <br><br>
        
        <%= f.label :description %>
        <br>
        <%= f.text_area :description %>
        <br><br>

        <%= f.hidden_field :wine_id, :value => @wine.id %>




        <%= f.submit %>

    <% end %>
</div>

